body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header,
.container-one {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 15%;
}

a {
  text-decoration: none;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  padding-left: 15%;
}

.hero-secondary-text, a {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  color: white;
  background-color: #3882F6;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  border: none;
  padding: 7px 30px;
  border-radius: 6px;
}

.container-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
}

.hero-left {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  gap: 16px;
  padding: 30px;
  padding-left: 15%;
}

.hero-right {
  padding-top: 40px;
  padding-bottom: 60px;
}

.placeholder {
  font-size: 18px;
  background-color: rgb(162, 210, 232);
  width: 300px;
  padding: 110px 80px;
  margin: 20px;
  text-align: center;
}

.container-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  padding-top: 20px;
  padding-bottom: 90px;
}

.info-header, .text {
  font-family: Roboto, sans-serif;
  color: #1F2937;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}

.box {
  width: 140px;
  height: 140px;
  background: transparent;
  border: 4px solid #3882F6;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  flex-wrap: wrap;
  gap: 8px;
}

.text {
  text-align: center;
}

.container-three {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.quote {
  width: 830px;
  padding-top: 100px;
  padding-left: 280px;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 100;
}

.author {
  font-size: 24px;
  color: #1F2937;
  font-weight: 550;
  padding-left: 822px;
  padding-bottom: 80px;
}

.container-four {
  display: flex;
  justify-content: center;
}

.action-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  height: 130px;
  margin: 100px;
  color: white;
  background-color: #3882F6;
  border-radius: 10px;
}

.call-title {
  font-size: 24px;
}

button.bottom-button {
  border: 2px solid white;
  padding: 7px 30px;
  border-radius: 6px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 30px;
}